---
title: Blog
layout: base
---

- for post in page.posts
  .post
    %h2
      %a{:href=>post.url}= post.title
    .author
      #{post.author} on #{post.date.strftime( '%d %B %Y' )}
    .body
      = post.content
    .comments
      = page.disqus_comments_link

= page.posts.links
.archive-links
  %a{ :href=>'archives.html' } Browse the archive
  &middot;
  %a{ :href=>'http://feeds.feedburner.com/netty_project' } RSS Feed


.notice{ :style=>'margin: 0 12px; ' }
  Wrote something related with Netty? <a href="mailto:netty@googlegroups.com">Let us know!</a> We will let you publish your post here.

= page.disqus_comments_count

