---
title: Blog
layout: base
---

.notice
  Wrote something related with Netty? <a href="mailto:netty@googlegroups.com">Let us know!</a> We will let you publish your post here.

- for post in page.posts
  .post
    %h2
      %a{:href=>post.url}= post.title
    .body
      = post.content
    .footer
      .comments-link
        = post.disqus_comments_link
      .author
        #{post.author} on #{post.date.strftime( '%d %B %Y' )}

= page.posts.links
.archive-links
  %a{ :href=>'archives.html' } Browse the archive
  &middot;
  %a{ :href=>'http://feeds.feedburner.com/netty_project' } RSS Feed


= page.disqus_comments_count

