%html
  %head
    %title
      #{site.title}: #{page.title}

    %link{ :rel=>'shortcut icon', :href=>'/images/favicon.ico' }
    %link{ :rel=>'alternate', :type=>'application/atom+xml', :href=>'http://feeds.feedburner.com/netty_project' }

    %link{ :rel=>'stylesheet', :type=>'text/css', :href=>'/stylesheets/screen.css', :media=>'screen, projection' }
    %link{ :rel=>'stylesheet', :type=>'text/css', :href=>'/stylesheets/print.css', :media=>'print' }
    /[if IE]
      %link{ :rel=>'stylesheet', :type=>'text/css', :href=>'/stylesheets/ie.css', :media=>'screen, projection' }

    %link{ :rel=>'stylesheet', :type=>'text/css', :href=>'http://alexgorbatchev.com/pub/sh/current/styles/shCore.css' }
    %link{ :rel=>'stylesheet', :type=>'text/css', :href=>'http://alexgorbatchev.com/pub/sh/current/styles/shThemeDefault.css' }
    %script{ :type=>'text/javascript', :src=>'http://alexgorbatchev.com/pub/sh/current/scripts/shCore.js' }
    %script{ :type=>'text/javascript', :src=>'http://alexgorbatchev.com/pub/sh/current/scripts/shBrushPlain.js' }
    %script{ :type=>'text/javascript', :src=>'http://alexgorbatchev.com/pub/sh/current/scripts/shBrushXml.js' }
    %script{ :type=>'text/javascript', :src=>'http://alexgorbatchev.com/pub/sh/current/scripts/shBrushBash.js' }
    %script{ :type=>'text/javascript', :src=>'http://alexgorbatchev.com/pub/sh/current/scripts/shBrushJava.js' }

  %body.bp
    #container
      #header
        #logo
          <a href="/"><img src="/images/logo.png" /><h1 id="project_name"><span class="large">Netty</span><span class="small">project</span></a></h1></a>
        #navbar
          %ul
            %li{ :class=>"#{'current' if page.url =~ /^\/(index\..*|$)/}" }
              %a{ :href=>'/' } Home
            %li{ :class=>"#{'current' if page.url =~ /^\/docs\/.*/}" }
              %a{ :href=>'/docs/' } Documentation
            %li{ :class=>"#{'current' if page.url =~ /^\/community\/.*/}" }
              %a{ :href=>'/community/' } Get Involved
            %li{ :class=>"#{'current' if page.url =~ /^\/blog\/.*/}" }
              %a{ :href=>'/blog/' } Blog
        #searchbar
          #cse-search-form
          %script{ :src=>"//www.google.com/jsapi", :type=>"text/javascript" }
          :javascript
            google.load('search', '1', {language : 'en'});
            google.setOnLoadCallback(function() {
              var customSearchControl = new google.search.CustomSearchControl('016348183754172014713:rhhtb6ffqhg');
              customSearchControl.setResultSetSize(google.search.Search.LARGE_RESULTSET);
              var options = new google.search.DrawOptions();
              options.setAutoComplete(true);
              options.enableSearchboxOnly("http://www.google.com/cse?cx=016348183754172014713:rhhtb6ffqhg");
              customSearchControl.draw('cse-search-form', options);
            }, true);
          %link{ :rel=>"stylesheet", :href=>"//www.google.com/cse/style/look/default.css", :type=>"text/css" }
      #content{ :lang=>'en' }
        ~ content
      #sidebar
        #quicklinks
          %ul
            %li.highlight
              %a#download_now{ :href=>'/downloads/' } Download now
            %li
              %a#view_on_github{ :href=>'https://github.com/netty/netty/' } View on Github
            %li
              %a#stackoverflow{ :href=>'http://stackoverflow.com/questions/tagged/netty' } Ask questions
            %li
              %a#chat_with_us{ :href=>'http://webchat.freenode.net/?channels=netty' } Chat with us
            %li
              %a#follow_us_at_twitter{ :href=>'https://twitter.com/netty_project' } Follow at Twitter


        #testimonial
          %h2 Testimonial
          %blockquote Netty proved in&shy;stru&shy;ment&shy;al in the ar&shy;chi&shy;tec&shy;ture of a re&shy;place&shy;ment of an ex&shy;ist&shy;ing high-speed serv&shy;er that parses and caches live stream&shy;ing quotes. Un&shy;der stress tests, the new serv&shy;er could parse and store in ex&shy;cess of 260,000 quotes/sec, a fig&shy;ure not re&shy;motely pos&shy;sible with block&shy;ing I/O. Netty's well-doc&shy;u&shy;mented API, ex&shy;cel&shy;lent ex&shy;amples and first-class sup&shy;port made de&shy;vel&shy;op&shy;ment a pleas&shy;ure and un&shy;locked the power of Java NIO. It is, hands-down, my first choice for a net&shy;work&shy;ing lib&shy;rary.
          .author
            Greg Haines, Ned Davis Research, Inc.
          .readmore
            %a{ :href=>'/testimonials' } (Read more..)
        
      #footer
        .legal
          Copyright 2011 <a href="http://netty.io/">The Netty Project</a>
      :javascript
        SyntaxHighlighter.all()
      = google_analytics

