---
layout: base
---
.post
  %h2 #{page.title}
  .body
    #share-links
      #share-twitter
        %a.twitter-share-button{ :href=>"http://twitter.com/share", :'data-count'=>"horizontal" } Tweet
        %script{ :type=>"text/javascript", :src=>"http://platform.twitter.com/widgets.js" }
    ~ content
  .footer
    .author
      #{page.author} on #{page.date.strftime( '%d %B %Y' )}
    .comments
      = page.disqus_comments

.post-navigation
  .previous
    - if page.previous_post
      Previous:
      %a{:href => page.previous_post.url}= page.previous_post.title
  .next
    - if page.next_post
      Next:
      %a{:href => page.next_post.url}= page.next_post.title

